@import "../bower_components/gess/src/gess";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/normalize-css/normalize";
@import "../bower_components/ResponsiveSlides.js/responsiveslides";
@import url(https://fonts.googleapis.com/css?family=Exo:400,600,900);

//misc
$purple: #652d8c;
$blue: #009bc8;
$pink: #e1007e;
$yellow: #ebe55f;

$gess_devices_map: (
    'small'  : (0, 600px),
    'medium'    : (600px, 960px),
    'big'    : (960px),
);

html, body {
	font-family: Exo, sans-serif;
}

body {
	min-width: 320px;
}

@mixin parallax(){
  align-items: center;
  background: fixed top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position : relative;
}

$content-max-width: 960px;

@mixin content() {
	// @include parallax();
	width: 100%;
	& > .content{
		align-items: center;
		display: flex;
		justify-content: center;
		margin: auto;
		max-width: $content-max-width;
		text-align: middle;
		@media #{media_query('medium')}, #{media_query('small')} {
			padding-left: 1em;
			padding-right: 1em;
		}
	}
}

@mixin sr-only() {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.sr-only {
	@include sr-only();
}

@mixin li-box($color) {
	& > li {
		background: $color;
		border-radius: 5px;
		border: $color solid 2px;
		box-sizing: border-box;
		font-weight: 600;
		margin-bottom: 2em;
		@include transition(all 0.3s ease);
		p {
			text-align: center;
		} 
	}
	& > li:hover {
		background: rgba($color, 0.8);
		cursor: pointer;
		@include transition(all 0.3s ease);
	}
}

img{
	height: 100%;
}


h1, h2 {
	font-weight: 600;
}


//inicio
#inicio {
	@include content();
	background: $purple;
}

.inicio {
	padding-top: 5px;
	align-items: center;
	img.foto-david {
		border-radius: 8%;
		width: 45%;
	}
 	img.logo {
		width: 30%;
	}
	img.slogan {
		margin-left: 1%;
		width: 15%;	
	}
	img.logo {
		margin-left: -5%;
		z-index: 10;
	}
}
//mandato
#mandato {
	@include content();
	background: url('../img/fundo.png') no-repeat;
	background-size: cover;
	background-position: center center;
}

.mandato {
	color: #fff;
	@include gess(50%, 'big');
	@media #{media_query('medium')}, #{media_query('small')} {
		.dummy-left {
			@include sr-only();
		}
	}
	h2 {
		color: $yellow;
		text-transform: uppercase;
	}

	.link-manifesto {
		height: 3em;
	    float: right;
	    margin-top: -3.5em;
	    margin-right: 1em;
	}
	.link-manifesto:hover {
		background-color: $blue;
		opacity: 0.7;
	}

	h3.propostas {
		background: $blue;
		color: $yellow;
		padding: .2em;
		text-transform: uppercase;
	}
	$nav-size: 1.5em;
	$slider-height: 14em;
	$nav-size: 2em;

	.lista-propostas{
		box-sizing: border-box;
		height: $slider-height;
		padding-right: $nav-size + 1em;
		h3 {
			background: $yellow;
			color: $purple;
			display: inline-block;
			padding: .2em;
			text-transform: uppercase;
		}
		a, a:visited {
			color: $blue;
			text-decoration: none;
		}
	}

	.rslides_nav {
		color: $yellow;
		text-shadow: $purple 1px 1px 1px;
		font-size: $nav-size;
		@media #{media_query('small')}, #{media_query('medium')} {
			font-size: $nav-size + 1em;
			padding-top: 1.5em;
		}
		font-weight: 900;
		margin-left: 0;
		margin-right: 0;
		padding: 2px;
		position: absolute;
		right: 0;
		@media #{media_query('big')}{
			right: calc((100vw - #{$content-max-width}) / 2 );
		}
		text-decoration: none;
		z-index: 20;
	}

	.rslides_nav.next {
		margin-top: - ($slider-height - $nav-size) / 2;
	}
	.rslides_nav.prev {
		margin-top: - ($slider-height - (2 * $nav-size)) / 2;
	}
}

//david
#por-que-david-miranda {
	@include content();
	background: $pink;
}

.por-que-david-miranda {
	@include gess((50%, 47%), 'big');
	@include gess(100%, 'medium');
	@include gess(100%, 'small');
	color: #fff;
	h2 {
		color: $yellow;
		text-transform: uppercase;
	}
}

//quem apoia

#quem-apoia {
	@include content();
	background: $yellow;
	h2 {
		color: $purple;
		text-transform: uppercase;
		font-weight: normal;
		margin-top: 0;
	}
}

@mixin rslides($nav-size, $slider-height){
	.rslides_nav {
		color: #fff;
		text-shadow: $purple 1px 1px 1px;
		font-size: $nav-size;
		font-weight: 900;
		margin-top: - ($slider-height + $nav-size) / 2;
		position: absolute;
		opacity: 0.6;
		text-decoration: none;
		z-index: 20;
	}

	.rslides_nav.next { right: 0; }
	.rslides_nav.prev { left: 0; }

	@media screen and (min-width: 1200px) {
		.rslides_nav.next {
			right: calc(((100vw - #{$content-max-width}) / 2) - #{$nav-size} );
		}
		.rslides_nav.prev {
			left: calc(((100vw - #{$content-max-width}) / 2) - #{$nav-size} );
		}
	}
}

$slider-height: 520px;
#quem-apoia{
	@include rslides(60px, $slider-height);
}


.quem-apoia {
	padding: 0!important;

	.caption{
		@media #{media_query('big')}, #{media_query('medium')} {
			display: inline-flex;
			flex-wrap: wrap;
			height: $slider-height;
			justify-content: flex-end;
			padding-right: .5em;
			padding-top: .5em;
			text-align: right;
		}
	}

	& > li {
		@include gess(50%, 'big');
		@include gess(50%, 'medium');
		@include gess(100%, 'small');
	}

	blockquote{
		color: $pink;
		font-weight: 600;
		margin: 0;
		@media #{media_query('big')}, #{media_query('medium')} {
			align-self: flex-end;
			font-size: 21px;
			padding-left: 1em;
		}
	}
	h3 {
		@media #{media_query('big')}, #{media_query('medium')} {
			align-self: flex-end;
			font-size: 18px;
		}
		color: $purple;
		font-weight: normal;
		margin-top: 0;
	}
	img{
		@media #{media_query('big')}, #{media_query('medium')} {
			float: right;
		}
		height: $slider-height;
		object-fit: cover;
	}
	img.portrait {
		object-position: 0 10%;
	}
}


//videos 
#videos {
	@include content();
	@include rslides(60px, $slider-height);
	
	background: $purple;
	iframe {
		max-width: 100%;
	}
	$yt-size: 530px;
	.img-play{
		cursor: pointer;
		height: $yt-size;
		object-fit: cover;
		width: 100%;
	}
	.play {
		$li-size: 150px;
		color: #ebe55f;
		cursor: pointer;
		font-size: $li-size;
		position: absolute;
		text-shadow: #652d8c 10px 5px 1px;
		margin-left: -60%;
		margin-top: calc((#{$yt-size} / 2) - (#{$li-size} / 2));
		z-index: 50;
	}
}

.videos{
	padding: 0!important;
}

//na imprensa
#na-imprensa {
	@include content();
	background: $pink;
	color: #fff;
	text-align: left;
}

$slider-height: 160px;
.na-imprensa {
	@include rslides(40px, $slider-height);

    box-sizing: border-box;
    display: block !important;
    padding-top: 1px;
	padding-bottom: 2em;
	h2 {
		font-size: 3em;
		text-align: center;
		text-transform: uppercase;
	}
	& > ul {
		margin: 0;
		@include gess(30%, 'big');
		@include gess(45%, 'medium');
		@include gess(90%, 'small');
		justify-content: space-around;
		@include li-box($yellow);
	}

	.img-print {
		border-radius: 5px;
		height: auto;
		position: absolute;
		z-index: 10;
	}
	
	a, a:visited {
		color: $purple;
		display: block;
		font-size: 1.2em;
		padding: .2em;
		text-decoration: none;
	}
}

//colabore
#colabore {
	@include content();
	background: $blue;
	color: $purple;
	text-align: center;
}

.colabore {
	align-items: center;
	min-height: 60vh;
	flex-wrap: wrap;
	h2 {
		font-size: 10vw;
		font-weight: 900;
		text-transform: uppercase;
		width: 100%; // force line break
	}
	& > ul {
		color: $yellow;
		padding: 0;
		@include gess(100%);
		a, a:visited, a:hover{
			color: inherit;
			font-size: 1.4em;
			text-decoration: none;
		}
		@include li-box($purple);
		& > li {
			padding: .7em;
		}
	}
}

//fim
#fim {
	@include content();
	background: $pink;
	color: #fff;
}
.fim {
	img {
		max-height: 3em;
		max-width: 3em;
		min-height: 3em;
		min-width: 3em;
	}
}

//side menu
$menu-btt-size: 3em;
.handle-menu {
	position: fixed;
	height: $menu-btt-size;
	left: 0;
	top: 0;
	width: $menu-btt-size;
	z-index: 50;
}

.handle-menu:hover {
	cursor: pointer;
}

#side-menu-checkbox:checked + #side-menu {
  @include transition(all 0.5s ease);
  left: 0;
  opacity: 1;
}

.menu-checkbox{
  display: none;
}

#side-menu{
  @include transition(all 0.5s ease);
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  color: $purple;
  left: -320px;
  margin-top: $menu-btt-size;
  @media #{media_query('small')} {
  	max-width: 160px;
  }
  opacity: 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 20em;
  z-index: 50;
  ul{
  	list-style: none;
  	padding-left: 0;
  }
  li{
  	padding: .5em;
  }
  li:before {
  	content: "#";
  	color: $pink;
  }
  a, a:hover, a:visited {
  	color: $purple;
  	font-weight: 600;
  	text-decoration: none;
  }
}

//menu icon

#menu-icon {
  @include transform(rotate(0deg));
  @include transition(.5s ease-in-out);
  cursor: pointer;
  display: block;
  height: 3em;
  margin: .2em .2em auto;
  position: relative;
  width: 3em;
}

#menu-icon .dash {
  background: #fff;
  border-radius: 9px;
  display: block;
  height: .3em;
  position: absolute;
  width: 100%;
  opacity: 1;
  left: 0;
  @include transform(rotate(0deg));
  @include transition(.25s ease-in-out);
}

#menu-icno span:nth-child(1) {
  top: 0;
}

#menu-icon span:nth-child(2) {
  top: 1em;
}

#menu-icon span:nth-child(3) {
  top: 2em;
}

#menu-icon.open span:nth-child(1) {
  top: 1em;
  @include transform(rotate(135deg));
}

#menu-icon.open span:nth-child(2) {
  opacity: 0;
  left: -3em;
}

#menu-icon.open span:nth-child(3) {
  top: 1em;
  @include transform(rotate(-135deg));
}
